@import "compass";
@import "compass/css3/user-interface";

$card-width: 9%;
$card-height: 14%;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#card-game {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 600px;
  @include user-select(none);
  font-size: 16px;
}

.card-stack, .card {
  cursor: pointer;
}

.card-stack {
  position: absolute;
  width: $card-width;
  height: $card-height;
  @include border-radius(5px);
  // @include box-shadow(0 2px 5px rgba(#222, 0.8) inset);
  background-color: #edeae3;
  border: 5px solid rgba(darken(#edeae3, 10%), 0.4);
}

.card {
  position: absolute;
  padding: 2px 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include box-shadow(
    0 0 2px #222
    // 0 0 40px rgba(#222, 0.3) inset
  );
  @include border-radius(5px);

  background: #f6f6f6;
  
  text-transform: uppercase;

  &.flipped {
    background-color: #D6D7E7;
    @include background-image(
      radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.15) 99%),
      radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.15) 99%)
    );
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;

    &:before, &:after {
      display: none;
    }
  }

  &[data-rank="king"]:before {
    content: 'k';
  }

  &[data-rank="queen"]:before {
    content: 'q';
  }

  &[data-rank="jack"]:before {
    content: 'j';
  }

  &[data-rank="10"]:before {
    content: '10';
  }

  &[data-rank="9"]:before {
    content: '9';
  }

  &[data-rank="8"]:before {
    content: '8';
  }

  &[data-rank="7"]:before {
    content: '7';
  }

  &[data-rank="6"]:before {
    content: '6';
  }

  &[data-rank="5"]:before {
    content: '5';
  }

  &[data-rank="4"]:before {
    content: '4';
  }

  &[data-rank="3"]:before {
    content: '3';
  }

  &[data-rank="2"]:before {
    content: '2';
  }

  &[data-rank="ace"]:before {
    content: 'a';
  }

  &[data-suit="hearts"],
  &[data-suit="diamonds"] {
    color: #900;
  }

  &[data-suit="spades"],
  &[data-suit="clubs"] {
    color: #222;
  }

  &[data-suit="hearts"]:after {
    content: ' ♥';
  }

  &[data-suit="diamonds"]:after {
    content: ' ♦';
  }

  &[data-suit="spades"]:after {
    content: ' ♠';
  }

  &[data-suit="clubs"]:after {
    content: ' ♣';
  }
}
