@import "compass";

// Sass stuff
@import "main/variables";
@import "main/functions";
@import "main/mixins";

// Base rules
@import "main/base/base";
@import "main/base/typography";

// Components
@import "main/components/boa_constrictor";
@import "main/components/nav";
@import "main/components/article";

@media print {
  @import "main/print";
}

.homepage {
  text-align: center;

  .post-list {
    list-style: none;
    padding: 0;
  }
}
