$base-font-size: 14px;
$base-line-height: 1.6;
$base-font-stack: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
$base-text-color: #34302D;

$breakpoint-transition-properties: 0.4s ease-out;
