nav {
  @include pie-clearfix;
  background: $base-text-color;
  color: #fff;
  padding-top: 0.3em;
  border-bottom: 2px solid #000;

  h1 {
    line-height: 60px;
    font-size: 1.4em;
    margin: 0;

    @media(min-width: 550px) {
      float: left;
    }

    a {
      color: inherit;
      border-bottom: none;
    }
  }

  .navigation {
    display: block;
    overflow: hidden; // Clearfix
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media(min-width: 550px) {
      float: right;
    }

    li {
      float: left;
      line-height: 60px;

      a {
        color: inherit;
        border: none;
      }

      & + li {
        margin-left: 1em;
      }
    }
  }
}
