@import "main/vendor/normalize";

* {
  @include box-sizing(border-box);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

pre {
  border-left: 2px solid #eee;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  white-space: pre;
  overflow: scroll;
}

code {
  font-size: 75%;
  color: #666;
}

header {
  @include pie-clearfix;
  padding: 1em 0;

  @include transition(padding $breakpoint-transition-properties);
  @media (min-width: 550px) {
    padding: 5em 0 3em;
  }
}
