@import "main/vendor/normalize";

* {
  @include box-sizing(border-box);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

pre {
  border-left: 2px solid #eee;
  padding-left: 8px;
  white-space: pre;
  overflow: scroll;
}

code {
  font-size: 75%;
  color: #666;
}

header {
  @include pie-clearfix;
  padding: 5em 0 3em;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}