@import url(//fonts.googleapis.com/css?family=Vollkorn);
@import url(//fonts.googleapis.com/css?family=Lusitana);

$body-text-color: $base-text-color !default;

$header-font-family: "Vollkorn", $base-font-stack !default;
$header-line-height: 1.4 !default;
$header-top-margin: .2em !default;
$header-bottom-margin: .5em !default;
$header-text-color: $base-text-color !default;

$paragraph-font-size: 1em !default;
$paragraph-line-height: 1.8 !default;
$paragraph-margin-bottom: emCalc(20px) !default;

$link-text-color: #6ca332 !default;

html, body {
  font-size: $base-font-size;
  font-family: "Lusitana", $base-font-stack;
  color: $body-text-color;
}

#{headers()} {
  font-family: $header-font-family;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;
  color: $header-text-color;

  a {
    color: $header-text-color;
  }
}

h1 { font-size: emCalc(44px); }
h2 { font-size: emCalc(37px); }
h3 { font-size: emCalc(27px); }
h4 { font-size: emCalc(23px); }
h5 { font-size: emCalc(18px); }
h6 { font-size: 1em; }

a {
  color: $link-text-color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
}

ul, ol {
  line-height: $paragraph-line-height;
}

.lead {
  font-size: 1.1em;
}
